services:
  - type: web
    name: poll-backend
    runtime: node
    rootDir: backend
    buildCommand: npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        sync: false
      - key: FRONTEND_URL
        value: https://real-time-poll-rooms-chi.vercel.app
      - key: JWT_SECRET
        generateValue: true

  - type: web
    name: poll-frontend
    runtime: node
    rootDir: client
    buildCommand: npm run build
    startCommand: npm start
    envVars:
      - key: NEXT_PUBLIC_API_URL
        value: https://real-time-poll-rooms-backend.onrender.com
